{% extends "user_base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<fieldset class="form-group">
    <legend class="border-bottom mb-4">User has been logged out</legend>
</fieldset>
   
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In</a>
        </small>
    </div>
{% endblock content %}