*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: "Nanum Gothic";
    color: #eee;
}
.query_dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: black; */
}

body{
    width: 100%;
    height: 100%;
    background: whitesmoke;
    background-size: cover;
    font-family: 'Nanum Gothic';
    /* color: aliceblue; */
}
.container {
    border: none;
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}
a{
    text-decoration: none;
    color: black;
}

/* .top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
} */

li{
    margin: 1rem 1.5rem;
    color: black;
}

hr{
    color: black;
    opacity: 0.3;
}
h1{
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: black;
    text-align: center;
    padding: 25px 25px 25px 25px;
}
h6{
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: black;
    text-align: center;
}

.hide{
    display: none;
}

.dash-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 3rem;
    /* -webkit-text-fill-color: lightblue; */
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    /* width: 100%;
    height: 100vh; */
}

.downloads-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

.email-confirm{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline: auto;
    color: black;
    padding: 0.75rem 0.5rem;
    /* padding: 25px 25px 25px 25px; */
    font-size: large;
    opacity: 0.7;
    justify-content: center;
}

button:hover {
    background-color: #034694;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: lightblue;
    /* padding: 1rem 0.5rem; */
    opacity: 0.7;
    padding: 0.75rem 0.5rem;
}

.div_forecast{
    display: flex;
    text-align: center;
    justify-content: center;
}

.key-selector{
    text-align: center;
    justify-content: center;
    display: inline-block;
    left: 50%;
    /* margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem 2rem; */
}

.div-selector{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* padding: 25px 25px 25px 25px; */
    /* margin-top: 2rem; */
}

.forecast-graph-div{
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 25px 25px 25px 25px;
}
.div-cluster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.volume_pie{
    width: 1000px;
    height:600px;
}

.int_pie{
    width: 1000px;
    height:600px;
}

.footerCustom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    opacity: 0.85;
}
/* h1{
    position: absolute;
    z-index: 2;
    top: 7%;
    left: 45%;
    text-align: center;
} */