<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smart4Kast</title>
        <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    </head>

    <body>
        <header>
            <nav class="top-nav">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="home-link">Home</a>
                    </li>
                    <li>
                        <a href="/create/" class="home-link">New</a>
                    </li>
                    <li>
                        <a href="/help/" class="nav-link">Help</a>
                    </li>
                    <li>
                        <a href="/about/" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="/contact/" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <hr>
        </header>
        {% block content %}
            
        {% endblock %}

        <footer class="copyright">
            <p>&copy:2020 Smart4Kast</p>
        </footer>
    </body>
</html>