<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smart4Kast</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic">
        <script src="{% static "js/jquery-3.4.1.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>

    <body>
        <header>
            <nav class="top-nav">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="home-link">Home</a>
                    </li>
                    <li>
                        <a href="/create/" class="home-link">New</a>
                    </li>
                    <li>
                        <a href="/help/" class="nav-link">Help</a>
                    </li>
                    <li>
                        <a href="/about/" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="/contact/" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <hr>
        </header>
        {% block content %}
            
        {% endblock %}

        <div class="footerCustom">
            <p style="font-size: x-small; padding-bottom: 0px;">Website developed by <a href="adityagator.github.io" style="text-decoration: none; color: lightgray">Aditya Bharadwaj</a>.</p>
        </div>
    </body>
</html>