{% extends "base.html" %}

{% block content %}
<div class="form-div">
    <form action = "" method='POST' enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p}}
        <input type='submit' value='Submit' />
    </form>
    <p class="processing">Processing...</p>
</div>

<!-- <script>
    $(document).ready(function(){
        $('.processing').hide();
        // $(':submit').click(function(){
        //     $('.processing').show();
        // });
    });
</script> -->
{% endblock %}

