{% extends "user_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
    <h1 class="page-heading">Create Account</h1>
<div class="form-div">
    <form action = "" method='POST' id="input_form"> {% csrf_token %}
        {{ form|crispy }}
        <input type='submit' value='Sign up' id="sub-btn"/>
    </form>
</div>
</div>

{% endblock content %}

