absl-py==0.9.0
asgiref==3.2.7
astor==0.8.1
boto3==1.13.1
botocore==1.16.1
certifi==2020.4.5.1
Django==3.0.5
django-crispy-forms==1.9.0
django-jquery==3.1.0
django-jsonfield==1.4.0
django-multiselectfield==0.1.12
docutils==0.15.2
gast==0.3.3
google-pasta==0.2.0
grpcio==1.28.1
h5py==2.10.0
jmespath==0.9.5
joblib==0.14.1
jsonfield==3.1.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.2.1
numpy==1.18.3
pandas==1.0.3
patsy==0.5.1
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
statsmodels==0.11.1
tb-nightly==1.14.0a20190603
tensorflow==2.7.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
