{% extends 'dashboard_base.html' %}

{% block content %}

<section class="summary_results" id="summary_results" name="summary_results">
  <h1>Summary</h1>
  <div class="email-confirm">
    <p style="display: flex; text-align: center; justify-content: center; color: black;">
      Output file has been sent to {{ inputObj.email }} </p>
  </div>
  {% if cluster_flag %}
  <div id="div-cluster" class="div-cluster">
    <div class="volume_pie">
      <canvas id="volume-chart"></canvas>
    </div> 
    <div class="int_pie">
      <canvas id="int-chart"></canvas>
    </div>
  </div>
  {% endif %}
</section>

<section class="forecast_results" id="forecast_results" name="forecast_results">
  <h1>Dashboard</h1>
  <!-- <label for="ship_pt">Ship_pt</label> -->
  {% if inputObj.forecast %}
    <div id="div_forecast">
      <div class="div-selector">
        <select id="key" name="key" class="key-selector">
          {% for key in output_dict %}
                <option value={{ key }}>{{ key }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="forecast-graph-div">
        <canvas id="forecast-chart"></canvas>
      </div>
        
      </div>
  {% else %}
      <h1>No data to display</h1>
  {% endif %}     

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    
    var configVol = {
      type: 'pie',
      data: {
        datasets: [{
          // data: {{ data|safe }},
          backgroundColor: ['rgba(255, 255, 0, 0.5)', 'rgba(255, 165, 0, 0.5)', 'rgba(255, 0, 0, 0.5)'],
          data: {{ volume_cluster }},
          label: 'Volume'
        }],
        labels: ['low', 'medium', 'high']
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: "Volume Clusters"
        }
      }
    };

    var configInt = {
      type: 'pie',
      data: {
        datasets: [{
          // data: {{ data|safe }},
          backgroundColor: ['rgba(255, 255, 0, 0.5)', 'rgba(255, 165, 0, 0.5)', 'rgba(255, 0, 0, 0.5)'],
          data: {{ int_cluster }},
          label: 'Intermittency'
        }],
        labels: ['low', 'medium', 'high']
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: "Intermittency Clusters"
        }
      }
    };

///////////////////////////////////////////////////////////////////////////////
    var output_dict = {{ output_dict|safe }};
    var input_dict = {{ input_dict|safe }};
    var volume_cluster = {{ output_data.volume_cluster|safe}};
    var int_cluster = {{ output_data.int_cluster|safe }}
    console.log(input_dict)
  
    var key = $("#key :selected").text();
    // var isCluster = {{ cluster_flag|safe }}
    function getTitle(key){
      var title = null;
      if(volume_cluster == {}){
        title = "Algorithm: ".concat(output_dict[key][0]).concat("          ").concat("RMSE: ").concat(output_dict[key][1]).concat("          ").concat("MAPE: ").concat(output_dict[key][2]);
      } else{
        title = "Algorithm: ".concat(output_dict[key][0]).concat("          ").concat("RMSE: ").concat(output_dict[key][1]).concat("          ").concat("MAPE: ")
        .concat(output_dict[key][2]).concat("          ").concat("Volume: ").concat(volume_cluster[key]).concat("          ").concat("Intermittency: ").concat(int_cluster[key]);
      }
      return title;
    }

    function appendZerostoOutputArr(inputLen, outputArr){
        var final_arr = [];
        var count = 0;
        var countMix = 0;
        for (i = 0; i < inputLen + outputArr.length; i++){
        if(i < inputLen && i < (inputLen - output_dict[key][4].length)){
          final_arr[i] = null;
        }
        else if(i < inputLen){
          final_arr[i] = output_dict[key][4][countMix];
          countMix++;
        }
        else{
          final_arr[i] = outputArr[count];
          count++;
        }
      }
      return final_arr;
      }

      var inputData = {
        label: 'Input Demand',
        data: input_dict[key]
      };

      var outputData = {
        label: 'Predicted Demand',
        data: appendZerostoOutputArr(input_dict[key].length, output_dict[key][3]),
        backgroundColor: 'rgba(255,0,0,0.5)'
      };

      var totalData = {
        labels: makeLabel(input_dict[key].length + output_dict[key][3].length),
        datasets: [inputData, outputData]
      };
      totalData_arr = input_dict[key].concat(output_dict[key][3]);

    $("select#key").change(function(){
      key = $("#key :selected").text();

      totalData_arr = input_dict[key].concat(output_dict[key][3]);

      var inputData = {
        label: 'Input Demand',
        data: input_dict[key],
      };

      var outputData = {
        label: 'Predicted Demand',
        data: appendZerostoOutputArr(input_dict[key].length, output_dict[key][3]),
        backgroundColor: 'rgba(255,0,0,0.5)',
      };

      var totalData = {
        labels: makeLabel(input_dict[key].length + output_dict[key][3].length),
        datasets: [inputData, outputData]
      };

    var config2 = {
      type: 'line',
      data: totalData,
      options: {
        elements: { point: { hitRadius: 20, hoverRadius: 20 } },
        responsive: true,
        title: {
          display: true,
          text: getTitle(key)
      },
      legend: {
            display: true,
            position: 'bottom'
        }
    }
    };
    

      if(currentChart){currentChart.destroy();}
      var ctx2 = document.getElementById('forecast-chart').getContext('2d');
      window.myPie = new Chart(ctx2, config2);
      currentChart = window.myPie;
      console.log(key)
    });

    
    var config = {
      type: 'line',
      data: totalData,
      options: {
        elements: { point: { hitRadius: 20, hoverRadius: 20 } },
        responsive: true,
        title: {
          display: true,
          text: getTitle(key)
      },
      legend: {
            display: true,
            position: 'bottom'
        }
    }
    };

    var currentChart;

    function updateChart() {
     if(currentChart){currentChart.destroy();}
   
     var determineChart = $("#chartType").val();

     var params = dataMap[determineChart]
     currentChart = new Chart(ctx)[params.method](params.data, {});
 }

    function makeLabel(num){
      var label = [];
      for (i = 1; i <= num; i++){
        label[i - 1] = "Month".concat(" ").concat(i.toString()); 
      }
      return label;
    }

    function getBackgroundColor(inputLen, outputLen){
      bgArr = [];
      for (i = 0; i < inputLen + outputLen; i++){
        if(i < inputLen){
          bgArr[i] = "rgba(0, 0, 0, 0.1)";
        }
        else{
          bgArr[i] = "red";
        }
      }
      return bgArr;
    }

    window.onload = function() {  
      var ctx = document.getElementById('forecast-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
      currentChart = window.myPie;
      var ctxVol = document.getElementById('volume-chart').getContext('2d');
      window.myBar = new Chart(ctxVol, configVol);
      var ctxInt = document.getElementById('int-chart').getContext('2d');
      window.myBar = new Chart(ctxInt, configInt);
    };

   </script>

{% endblock %}