{% extends 'base.html' %}

{% block content %}
<div class="page-heading">
  <ul class="downloads-list">
    <li>
      <a href={{ output_data.output_file }} download="output.csv" class="download-link">
        <button class="download-button">Download Output File</button>
      </a>
    </li>
    <li>
      <a href={{ output_data.log_file }} download="app.log" class="download-link">
        <button class="download-button">Download Log File</button>
      </a>
    </li>
    </ul>

    
</div>
<div id="dash-btn">
  <a href={{ dash_url }} class="download-link">
    <button class="dash-button">Go to Dashboard</button>
  </a>
</div>


{% endblock %}